@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
    background-color: v.$negro;
    color: v.$blanco;
}
p {
    font-size: 1.6rem;
    line-height: 2;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.titulo {
    font-size: 2.8rem;
    margin: 3rem 0 0 0;
    text-align: center;
    font-family: v.$fuenteSecundaria;
    line-height: 1.2;
    @include m.tablet {
        font-size: 4rem;
    }
}