@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    color: v.$blanco;
    background-color: v.$negro;
    display: block;
    // padding: 3rem;
    position: sticky;
    top: 0;
    z-index: 100;
}